@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Ubuntu:wght@300&display=swap');

.heading h1 {
	font-size: 150px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Comfortaa', cursive; 
}
.paragraph p {
	font-family: 'Ubuntu', sans-serif;
}